<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
<!--        <link rel='stylesheet' href='/stylesheets/style.css' />-->
    </head>
    <body>
        <h2>QUERY test</h2>
        <form action="/result" method="get">
            <input type="text" name="id" placeholder="Enter id here">
            <input type="text" name="query" placeholder="Enter query">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>

