<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
<!--        <link rel='stylesheet' href='/stylesheets/style.css' />-->
    </head>
    <body>
        <h2>QUERY result</h2>
        <div>
          result
          <p>id: <%= id %></p>
          <p>query: <%= query %></p>
        </div>
    </body>
</html>

